.matches {
	display: grid;
	grid-template-columns: 8fr 4fr;
	padding: 0.3em;
	gap: 1em;
}

.next-match {
	grid-column: span 2;
	height: 200px;
}

.next-match:hover {
	background: var(--the-grey);
	animation: rotate-next-match 3s 1 linear;
}

@keyframes rotate-next-match {
	0% {
		padding: 0.4em;
	}
	50% {
		padding: 0.4em 5em;
	}
	100% {
		padding: 0.4em;
	}
}

.next-match > h2 {
	justify-self: center;
}

.next-match > .match-details > .match-teams {
	font-size: 24px;
}

.match-list,
.match-schedule {
	background: var(--the-grey);
	border-radius: 10px;
	padding: 0.5em;
}

.match-list {
	display: grid;
}

.next-match,
.last-match,
.biggest-win,
.biggest-loss {
	margin-bottom: 0.4em;
	border-radius: 10px;
	padding: 0.4em;
}

.last-match,
.biggest-win,
.biggest-loss {
	background: white;
}

.match-list > div > h2 {
	justify-self: center;
}

.match-details {
	display: grid;
	grid-template-columns: 2fr 2fr;
}

.match-details > h4 {
	margin: 0.3em 0;
	opacity: 0.6;
}

.match-type,
.match-venue,
.match-date,
.match-time {
	font-size: 14px;
	margin: 0.3em 0;
}

.match-type,
.match-venue,
.match-teams {
	grid-column: span 2;
	justify-self: center;
}

.match-teams {
	font-weight: 550;
	font-size: 18px;
}

.match-date,
.match-time {
	justify-self: center;
}

.match-schedule > h2 {
	justify-self: center;
}

/** For Small Devices */

@media screen and (max-width: 874px) {
	.matches {
		grid-template-columns: 8fr;
	}

	.next-match {
		grid-column: span 1;
	}
}
