#modal {
	position: relative;
}

.modal-cont {
	position: fixed;
	z-index: 3;
	background: rgba(0, 0, 0, 0.2);
	height: 100vh;
	width: 100vw;
	display: grid;
	place-items: center;
	padding: 2em 0;
}

.theModal {
	background: white;
	height: 90%;
	min-height: 350px;
	max-height: 600px;
	width: 70%;
	min-width: 200px;
	max-width: 600px;
	border-radius: 10px;
	display: grid;
	grid-template-rows: 1fr 7fr 1fr;
	padding: 0.5em;
}

.theModal > h2 {
	justify-self: center;
}

.player-data-personal {
	padding: 0 1em;
}

.player-data-personal > img {
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.btn-close {
	width: 5em;
	height: 2em;
	border-radius: 7px;
	background: blue;
	color: white;
	justify-self: end;
	margin-right: 2em;
	cursor: pointer;
}
