.header {
	display: grid;
	grid-template-columns: 2fr 8fr 2fr;
	height: 100px;
	grid-gap: 1em;
	padding: 0.3em;
	background: var(--dabonii-green);
	border-bottom: 1px dashed;
	/* position: fixed; */
	width: 100%;
	scroll-behavior: smooth;
}

.header_logo {
	font-style: italic;
	font-family: cursive;
	text-shadow: 2px 2px 3px;
	animation: move_logo 4s 2s infinite linear;
	align-self: center;
}

.header_logo-link > span {
	text-decoration: underline;
}

@keyframes move_logo {
	0% {
		transform: rotateY(0);
	}

	50% {
		transform: rotateY(60deg);
	}
	100% {
		transform: rotateY(0);
	}
}

.nav-bar {
	display: grid;
	grid-template-columns: repeat(6, 2fr);
	align-self: center;
	box-shadow: 1px 1px 3px;
	height: 40px;
	place-items: center;
	padding: 0 0.3em;
	border-radius: 4px;
}

.nav-bar > a {
	font-size: 14px;
	cursor: pointer;
	color: black;
	text-decoration: none;
}

.nav-bar > a:hover {
	font-size: 18px;
}

.active_nav-bar {
	/* background: rgb(185, 218, 181);
	width: 4em;
	height: 1.5em;
	border-radius: 7px;
	display: grid;
	place-content: center; */
	color: rgb(249, 249, 252);
	text-shadow: 2px 2px 2px;
}

.auth {
	display: grid;
}

.sign-in {
	align-self: center;
	justify-self: end;
	margin-right: 1em;
	margin-bottom: 2em;
	width: 5em;
	background: rgb(13, 13, 14);
	color: antiquewhite;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
}
