* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:
		"Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
		Arial, sans-serif;
}

a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.container {
	position: absolute;
	min-height: 100vh;
	height: 100%;
	width: 100%;
}

h2 {
	color: var(--dabonii-green);
}

:root {
	/* --dabonii-green: rgb(72, 209, 72); */
	--dabonii-green: rgb(22, 129, 22);
	--the-grey: rgb(247, 244, 244);
	--linear-dabonii-green: linear-gradient(
		to right,
		rgb(143, 252, 143),
		rgb(9, 175, 45)
	);
	--the-white: white;
}
