* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:
		"Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
		Arial, sans-serif;
}

a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.container {
	min-height: 100vh;
	position: relative;
}

:root {
	/* --dabonii-green: rgb(72, 209, 72); */
	--dabonii-green: rgb(22, 129, 22);
}
