.office {
	display: grid;
	padding: 0.5em 0.3em;
}

.office-header {
	justify-self: center;
	/* margin-bottom: 1em; */
}

.office-holders {
	display: grid;
}

.holder {
	width: 150px;
	height: 170px;
	box-shadow: 2px 2px 3px 1px;
	border-radius: 7px;
	display: grid;
	grid-template-rows: 5fr 1fr 1fr;
	place-items: center;
}

.holder-header {
	font-size: 15px;
}

.holder-title {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: 13px;
	font-weight: 600;
	opacity: 0.7;
}

.chairman,
.vice-chairman {
	justify-self: center;
	margin: 2em 0;
}

/* .treasurer,
.organising-secretary,
.secretary {
} */

.holder > img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.holder > p {
	text-align: center;
}

.sec-tresh,
.assist-sec-tresh,
.other-holders,
.honourable-members {
	background: rgb(247, 244, 244);
	width: 100%;
	padding: 1em;
	display: grid;
	place-items: center;
}

.sec-tresh,
.assist-sec-tresh {
	grid-template-columns: repeat(3, 4fr);
	row-gap: 1.5em;
}

.assist-sec-tresh {
	padding-top: 3em;
}

.other-holders,
.honourable-members {
	grid-template-columns: repeat(5, 3fr);
	gap: 1em;
}

.other-holders {
	padding-top: 2em;
	background: none;
}

@media screen and (max-width: 900px) {
	.other-holders,
	.honourable-members {
		grid-template-columns: repeat(3, 3fr);
	}
}

@media screen and (max-width: 560px) {
	.sec-tresh,
	.assist-sec-tresh,
	.other-holders,
	.honourable-members {
		grid-template-columns: repeat(2, 3fr);
	}
}
